// !! scss --update -q {file_name}

a {
  text-decoration: none;
}

h1 {
  font-size: 120%;
  font-family: serif;
  margin: 0;
  padding: 0;
}

article {
  border-radius: 8px;
  margin: 20px;
  padding: 0;
}

#site_header {
  background-color: #000;
  width: 100%;
  height: 44px;

  h1 {
    margin-left: 1em;
    a { color: #fef4f4; }
  }
}

/* category */

#tags {
  .tag {
    clear: both;
    margin-bottom: 10px;

    a {
      margin: 0;
      padding: 0;
    }

    h1 {
      font-size: 20px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border: 1px solid #4c6cb3;
      display: inline;
      padding: 4px 0 0 4px;
      height: 34px; /* 40 - 4 - 1*2 */
      width: 30%;

      float:left;
      background-color: white;
      color: #4c6cb3;

      .count {
        font-size: 70%;
      }
    }

    ul {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border: 1px solid #4c6cb3;
      background-color: #4c6cb3;
      color: white;
      height: 40px;
      width: 60%;
      float: left;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        font-size: 70%;
        margin-right: 1em;
      }
    }
  }
}

/* package */

#page_index, #page_tag, #page_search_package {
  #tag_info {
    margin: 20px 20px 20px 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 1em;
    background-color: #4c6cb3;
    color: white;
    p {
      font-size: 90%;
      margin: 0 0 0 1em;
      padding: 0;
    }
    input {
      width: 80%;
    }
    height: 100px;
  }

  .package {
    background-color: #006e54;
    color: white;

    h1 {
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      display: inline;
      padding: 0.2em 1em;
      margin: 0;

      float: left;
      background-color: white;
      color: #006e54;
    }

    .tags {
      float: left;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        font-size: 70%;
        margin: 4px;
        padding: 4px;
        background-color: #4c6cb3;

        &.lock {
          background-color: #c63;
        }

        a {
          color: white;
        }

        .delete {
          height: 20px;
        }

        input {
          width: 80px;
        }
      }
    }

    .info {
      float: right;
      margin: 0;
      padding: 0;

      li {
        font-size: 80%;
        margin: 0;
        padding: 0;
        margin-right: 1em;
        list-style-type: none;
      }
    }

    .synopsis {
      clear: both;
      font-size: 90%;
      padding: 8px;
      padding-left: 1em;
    }
  }
}

