// !! scss --update -q {file_name}

$base_color: #4B75B9;
$sub_color: #3EBA2B;
$accent_color: #F0BA32;

body {
  background-image: url("/static/paper.png");
}

a {
  text-decoration: none;
}

h1 {
  font-size: 120%;
  font-family: "Molengo",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: serif;
}

#site_header {
  background-color: #000;
  width: 100%;
  height: 44px;

  h1 {
    margin-left: 1em;
    a { color: #fef4f4; }
  }
}

/* =============================================================================
  layout
==============================================================================*/

#global_menu {
  margin: 0 auto;
  .menu_block {
    width: 32%;
    display: inline-block;
    text-align: center;

    input[name=keyword] {
      display: inline;
      width: 140px;
    }
  }
}

/* =============================================================================
  index
==============================================================================*/

#page_index {
  h1.sep {
    width: 100%;
    background-color: $base_color;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
}

/* =============================================================================
  tags
==============================================================================*/

#tags, #search_tags {
  h1 {
    display: inline-block;
  }
  ul {
    display: inline-block;
    font-size: 80%;
  }
  .package {
    margin: 0;
    border: 1px solid black;
  }
  .next_button {
    clear: both;
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

/* package */

#page_index, #page_tag, #page_search_packages {
  #tag_info {
    margin: 20px 20px 20px 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 1em;
    background-color: $base_color;
    color: white;
    p {
      font-size: 90%;
      margin: 0 0 0 1em;
      padding: 0;
    }
    input {
      width: 80%;
    }
    height: 100px;
  }

  #packages, #updated_packages {
    .next_button {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }

  .package {
    margin: 20px 10px;
    border-bottom: 1px solid rgba(0,0,0, .1);
    box-shadow:0 -4px 0 rgba(255,255,255, .9) inset;

    h1 {
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      display: inline;
      padding: 0.2em 1em;
      margin: 0;

      float: left;
    }

    .tags {
      float: left;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        font-size: 80%;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 4px;
        padding: 4px;
        background-color: $base_color;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: white;

        &.lock {
          background-color: $accent_color;
          a {
            color: black;
          }
        }

        a {
          color: white;
        }

        .delete {
          height: 20px;
        }

        input {
          width: 80px;
        }
      }

      .new_tag { display: none; }
      .delete { display: none; }
    }

    .edit.tags {
      .new_tag { display: inline; }
      .delete { display: inline; }

    }

    .info {
      float: right;
      margin: 0;
      padding: 0;

      li {
        font-size: 80%;
        margin: 0;
        padding: 0;
        margin-right: 1em;
        list-style-type: none;
      }
    }

    .synopsis {
      clear: both;
      font-size: 90%;
      padding: 8px;
      padding-left: 1em;
    }
  }
}

